OANDA_ENV=demo
FXPRACTICE_API_URL=https://api-fxpractice.oanda.com
FXPRACTICE_STREAM_URL=https://stream-fxpractice.oanda.com
FXPRACTICE_APIKEY=your-practice-api-key
FXPRACTICE_ACCOUNT_ID=your-practice-account-id
FXTRADE_API_URL=https://api-fxtrade.oanda.com
FXTRADE_STREAM_URL=https://stream-fxtrade.oanda.com
FXTRADE_APIKEY=your-live-api-key
FXTRADE_ACCOUNT_ID=your-live-account-id
DEFAULT_DATETIME_FORMAT=RFC3339
